@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: rgba(216, 210, 210, 0.596);
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-orange: #fc9d03;
  --color-brown: rgb(78, 56, 37);
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 35px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;

  /* Animation */
  --animation--duration: 300ms;
}
/* 공통적인 태그 */
* {
  box-sizing: border-box;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-brown);
  margin: 16px 0;
}
h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 30px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}
body {
  margin: 0;
  font-family: 'Iropke Batang', serif;
}
a {
  text-decoration-line: none;
  color: var(--color-brown);
}
ul {
  padding-left: 0;
  list-style: none;
}
.hidden {
  display: none;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: 16px;
  align-items: center;
  background-color: transparent;
}

.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: 13px 50px 0 50px;
  cursor: pointer;
}
.navbar__menu__item:hover {
  border-radius: var(--color-orange);
}
.navbar__toggle-btn {
  position: absolute;
  top: 50px;
  right: 32px;
  font-size: 30px;
  color: var(--color-brown);
  display: none;
}

/* Section common */
.section {
  padding: 50px 0;
  text-align: center;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  /* 최대크기:데스크탑 1000~1200이 가장 최적화된 크기*/
  margin: auto;
}
/* Home */
#home {
  background-color: var(--color-orange) ;
  
  height: 600px;
  
}
.home__image-left {
  position: absolute;
  /* margin-top: 70px;
  top: 0; */
  z-index: 0;
  opacity: 0;
  transition: all 1s ease-in-out;
 float: left;
}
/* 홈 이미지 슬라이드 */
.showing {
  z-index: 1;
  opacity: 1;
}
.hidden {
  display: none;
}
.home__image-left img {
  width: 700px;
  height: 700px;
}

.home__description-right {
  float: right;
  text-align: left;
  margin-top: 150px;
 
  /* padding: 90px;
  position: absolute;
  margin-top: 70px;
  z-index: 1;
  right: 20%; */
}
.location__btn {
  background-color: transparent;
  color: var(--color-white);
  font-size: var(--font-regular);
  border: none;
  padding: 5px 30px 5px 0px;
  margin-top: 20px;
}
.location__btn:hover {
  background-color: var(--color-light-white);
  border-radius: var(--size-border-radius);
  transition-duration: 0.5s;
}
.location__btn i {
  padding: 0 5px;
}
.feature__image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}
/* 이미지 스크롤링 페이드인 */
.scrollup {
  z-index: 0;
  opacity: 0;
}
.js-scroll {
  opacity: 1;
  transition: opacity 500ms;
}
.scrollup img {
  width: 300px;
  /* 임시 */
  height: 300px;
}
.feature__description {
  padding-top: 20px;
}

#home__location {
  padding: 180px 0;
 
  background: url('image/cooking-a-healthy-soup.jpg') center no-repeat,
    rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-blend-mode: multiply;
  z-index: 1;
}

.location__text {
  color: white;
}
#contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact__menu {
  padding-right: 70px;
  padding-left: 70px;
}
.contact__icon {
  color: var(--color-orange);
  font-size: 40px;
}
.contact__title {
  color: var(--color-orange);
}
.contact__etitle {
  font-size: 20px;
}
.contact__line {
  border-left: 1px solid var(--color-light-grey);
}
#footer {
  background-color: var(--color-orange);
}
.footer_description {
  color: white;
  font-size: 20px;
}
.naver_icon {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 768px) {
  .scrollup {
    margin: 0 90px;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    margin-left: 160px;
    padding-bottom: 20px;
    display: none;
  }
  .navbar__menu.open {
    display: block;
  }

  #contact {
    padding-top: 0;
  }
  .contact__menu {
    padding-bottom: 30px;
  }
  .contact__line {
    display: none;
  }
  .navbar__toggle-btn {
    display: block;
  }
}
